<div class="col-lg-9 mx-auto mb-10">
    <h2 class="fs-15 text-uppercase text-muted mb-3 mt-12">Our Process</h2>
    <h3 class="display-4 mb-0 text-center px-xl-10 px-xxl-15">Find out everything you need to know about creating a business process model</h3>
    <div class="row gx-lg-8 gx-xl-12 process-wrapper text-center mt-9 mb-6 line">

      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><span class="number">01</span></span>
        <h4 class="mb-1">Concept</h4>
        <p class="mb-0">Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam. Pellentesque ornare.</p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><span class="number">02</span></span>
        <h4 class="mb-1">Prepare</h4>
        <p class="mb-0">Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary pe-none mb-4"><span class="number">03</span></span>
        <h4 class="mb-1">Retouch</h4>
        <p class="mb-0">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero.</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>